
body
{
    background-color: hsl(263, 68%, 64%);
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #f4f4f4; 
    border-radius: 15px; 
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.3); 
    font-size: 30px; 
    font-weight: bold;
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: transform 0.2s, background-color 0.2s; 
}

#cellholder
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin:auto;
}

#gameholder
{
    font-family: cursive;
    text-align: center;
}

#restart 
{
    background-color: hsl(266, 100%, 47%);
    font-family: monospace;
    cursor: pointer;
    font-size: 20px;
}

#restart:hover
{
    background-color: hsl(0, 0%, 100%);
}